@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    /* border:1px solid #000; */
}

p,h1,h2,h3,h4,h5,h6
{
    margin:0 !important;
}

:root
{
    --main-color:#006F62;
}





/* BANNER SECTION */
#banner-full
{
    height: 100vh;
}
#main-banner
{
    width: 100%;
    height: 85vh;
    background-color: #67A58040;
    transition: background-color .3s ease;
}
.bg-green
{
    background-color: green !important;
}
.bg-red
{
    background-color: red !important;
}
.navbar-brand img
{
    width: 80px;
}
#main-banner #header .right
{
    display: flex;
    gap:30px;
    align-items: center;
}
#main-banner .navbar-nav
{
    gap:14px;
    padding-left: 40px;
}
#main-banner .navbar .nav-link
{
    font-size: 18px;
    font-weight: 400;
    color: #000;
}
#main-banner .navbar .nav-link.active
{
    font-weight: 600;
}
#main-banner .container-fluid
{
    padding: 0 4%;
    position: relative;
}
#main-banner .language li
{
    list-style-type: none;
}

.navbar-toggler
{
    border: none;
    padding: 0;
}
.navbar-toggler:focus
{
    box-shadow: none;
}
.navbar-toggler-icon{
    background:none;
    display: flex;
    align-items: center;
}



/* HEADER */
#header .right .webstore
{
    padding:10px 20px;
    border: 1px var(--main-color) solid;
    border-radius: 50px;
    text-decoration: none;
    color: var(--main-color);
    display: flex;
    align-items: center;
    gap:10px;
}
#header .right .webstore:hover
{
    background: var(--main-color);
    color: #fff;
}
#header .right .webstore:hover svg path
{
    fill: #fff;
}
/* #header .right .webstore a
{
    
    
} */
.dropdown-menu.show
{
    border: none;
}
#header .right .cart
{
    position: relative;
}
#header .right .cart span
{
    /* width: 10px; */
    /* height: 10px; */
    border-radius: 20px;
    background: var(--main-color);
    padding:4px 10px;
    font-weight: 600;
    color: #fff;
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 12px;
    transform: scale(.8);
}
#header .right .sign-in
{
    display: flex;
    gap:10px;
}
#header .right .sign-in a
{
    text-decoration: none;
    color:#000;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -1px;
}


.sign-in-offcanvas
{
    width: fit-content;
    padding: 10px 20px;
    background: var(--main-color);
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}
#main-banner .navbar .nav-link.active
{
    color: var(--main-color);
}
#main-banner .navbar .nav-link:hover
{
    color: var(--main-color);
}





#banner-section
{
    height: calc(var(--main-height) - var(--header-height));
    display: flex;
    align-items:end ;
    position: relative;
    /* background: #67A58040; */
}
#banner-section .text-col h1
{
    /* display: flex; */
    font-size: 75px;
    font-weight: 700;
}
#banner-section .text-col h1 img
{
    width: 50px;
}
.spec-color
{
    color: var(--main-color);
}
#banner-section .text-col p
{
    /* padding-right: 120px; */
    width: 80%;
}
#banner-section .text-col {
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap: 20px;
}
#banner-section .text-col a
{
    text-decoration: none;
    padding: 10px 30px;
    background: var(--main-color);
    width: fit-content; 
    color: #fff;
    display: flex;
    align-items: center;
    gap:10px;
    font-weight: 500;
    font-size: 20px;
}
#banner-section .text-col a img
{
    transition: .2s ease;
}
#banner-section .text-col a:hover img
{
    transform: rotate(45deg);
}



#banner-section .main-img-div
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#banner-section .main-img-div img
{
    transform: scale(1);
    margin-bottom: -80px;
    animation: scale 3s ease-in-out infinite;
    width: 100% !important;
}

@keyframes scale
{
    0%,100%
    {
        transform:scale(1);
    }
    50%
    {
        transform:scale(1.1);
    }
}

#banner-section .main-img-div .rectangle-1
{
    display: inline-block;
    position: absolute;
    bottom: 0%;
    /* left: 0%; */
    /* transform: translate(-50%, -50%); */
    height: 65vh;
    width: 80%;
    border-radius: 300px 300px 0 0;
    background: linear-gradient(to bottom, #006F62, #006F6200);
    z-index: -1;
}
#banner-section .main-img-div .rectangle-2
{
    background: linear-gradient(to bottom, #FF9900, #FF990000);
    display: inline-block;
    position: absolute;
    bottom: 0%;
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    height: 65vh;
    width: 80%;
    border-radius: 300px 300px 0 0;
    z-index: -1;
}
#banner-section .main-img-div .rectangle-3
{
    background: linear-gradient(to bottom, #00BCA6, #00BCA600);
    display: inline-block;
    position: absolute;
    bottom: 0%;
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    height: 65vh;
    width: 80%;
    border-radius: 300px 300px 0 0;
    z-index: -1;
}
.main-colums
{
    /* height: var(--banner-height); */
}

#banner-section .img-div-2,
#banner-section .img-div-3
{
    position: relative;
    height: 170px;
    /* background: orange; */
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    object-fit: contain;
}
#banner-section .main-slider-colums .left
{
    position: relative;
}
#banner-section .main-slider-colums .left .pricing-main
{
    position: absolute;
    bottom: 0;
    left: 0;
}
#banner-section .main-slider-colums .right .top
{
    display: flex;
    /* gap:60px; */
    transform: translateX(-60px);
}
#banner-section .main-slider-colums .right .top img
{
    transition: .3s ease;
    width: 60% !important;
    transform: translateY(-20px);
}
#banner-section .right .top .img-div-2:hover img, #banner-section .right .top .img-div-3:hover img
{
    transform:translateY(-20px) scale(1.1);
}
#banner-section .img-div-2 .circle-div
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    border-radius: 100px;
    z-index: -1;
}
#banner-section .img-div-3 .circle-div
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    border-radius: 100px;
    z-index: -1;
}
#banner-section .img-div-2 .circle1
{
    background: #FF9900;
}
#banner-section .img-div-3 .circle2
{
    background: #00BCA6;
}
#banner-section .img-div-2 .circle3
{
    background: #00BCA6;
}
#banner-section .img-div-3 .circle4
{
    background: #006F62;
}
#banner-section .img-div-2 .circle5
{
    background: #006F62;
}
#banner-section .img-div-3 .circle6
{
    background: #FF9900;
}

#banner-section .main-slider-colums .right .bottom
{
    padding-top: 80px;
}
#banner-section .main-slider-colums .right .bottom h3
{
    font-size: 36px;
    color: var(--main-color);
    font-weight: 700;
}
#banner-section .main-slider-colums .right .btm-nmbrs
{
    font-weight: 800;
    font-size: 20px;
    padding-top: 90px;
}



#banner-section .circle-main
{
    position: absolute;
    right: 5%;
    bottom: -15%;
    z-index: 10;
}
#banner-section .circle-main:hover .rotate-btn-arrow
{
    transform: translate(-50%, -50%) rotate(-90deg);

}
#banner-section .circle-main .rotate-btn-arrow
{
    transition: .3s ease;
}
#banner-section .circle-rotate-div
{
    /* position: relative; */
    width: 200px;
    height: 200px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#banner-section .circle-rotate-div .rotateimg
{
    animation: anim 6s linear infinite;
}
@keyframes anim
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
#banner-section .rotate-btn-arrow
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* .circle-rotate-div .text
{
    width: 100%;
    height: 100%;
    position: absolute;
    animation: anim 10s linear infinite;
}
@keyframes anim
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.circle-rotate-div .text span
{
    position: absolute;
    left: 50%;
    font-size: 1.2em;
    transform-origin:0 100px;
    color: #fff;
} */

#banner-section .owl-carousel .owl-stage-outer
{
    overflow-x: clip !important;
    overflow: unset;
}
#banner-section .owl-carousel .owl-nav.disabled
{
    display: block;
}
#banner-section .owl-nav span
{
    font-size: 30px;
}
#banner-section .owl-carousel .owl-dots
{
    display: none !important;
}
#banner-section .owl-carousel .owl-nav
{
    width: fit-content;
    display: flex;
    gap:10px;
    position: absolute;
    bottom: 30px;
    right: 43%;
}
#banner-section .owl-carousel .owl-nav .owl-prev span,
#banner-section .owl-carousel .owl-nav .owl-next span
{
    display: none;
}
#banner-section .owl-carousel .owl-nav .owl-prev
{
    height: fit-content;
    /* background: #fff !important; */
    background: url('../img/SVG/owl-nav-left.svg') !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    width: 30px;
    height: 30px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    transition: .3s ease;
}
#banner-section .owl-carousel .owl-nav .owl-prev:hover
{
    background: url('../img/SVG/owl-nav-left-hvr.svg') !important;
    background-size: contain !important;
}
#banner-section .owl-carousel .owl-nav .owl-next
{
    height: fit-content;
    /* background: #fff !important; */
    background: url('../img/SVG/owl-nav-right.svg') !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    width: 30px;
    height: 30px;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    transition: .3s ease;
}
#banner-section .owl-carousel .owl-nav .owl-next:hover
{
    background: url('../img/SVG/owl-nav-right-hvr.svg') !important;
    background-size: contain !important;
}
.owl-carousel .owl-item img
{
    width: unset !important;
}


#banner-section .main-slider-colums
{
    position: relative;
}


#banner-section .main-slider-colums .left .pricing-main
{
    display: flex;
    gap:10px;
    position: absolute;
    left: 20px;
    bottom: 20px;
    padding: 10px;
    border-radius: 15px;
    background: #ffffff10;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    width: 60%;
    border: 2px solid #fff;
    transform: scale(.9);
}
#banner-section .left .pricing-main .img-div
{
    width: 40%;
}
#banner-section .left .pricing-main img
{
    /* object-fit: cover; */
    border-radius: 10px;
}
#banner-section .left .pricing-main h4
{
    font-size: 16px;
    font-weight: 700;
}
#banner-section .left .pricing-main .price
{
    font-weight: 700;
    color: #C72626;
}
#banner-section .left .pricing-main .price-details
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:5px;
}
#banner-section .social-icons
{
    position: absolute;
    right: 2%;
    top:0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    z-index: 100;
}
#banner-section .social-icons i
{
    transition: .3s ease;
}
#banner-section .social-icons i:hover
{
    color: var(--main-color);
}
#banner-section .social-icons .line
{
    height: 40px;
    background: #000;
    width: 2px;
    display: block;
}
#banner-section .social-icons .follow-us
{
    transform: rotate(-90deg) translateX(-30px);
}























/* ABOUT SECTION */
.main-head
{
    font-weight: 300;
    font-size: 48px;
}
.top-head
{
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 10px !important;
}
.main-para
{
    font-size: 18px;
    margin-top: 20px !important;
}
#aboutsection
{
    padding: 5% 0;
}
#aboutsection .about-main
{
    display: flex;
    flex-direction: column;
}
#aboutsection .about-main .main-head
{
    padding: 0 50px;
}
#aboutsection .about-main .main-head,
#aboutsection .about-main .top-head
{
    text-align: center;
}
#aboutsection .about-main .main-para
{
    text-align: center;
}


#aboutsection .main-grid
{
    display: grid;
    grid-gap:20px;
    grid-template-columns:repeat(8, 1fr);
    grid-template-rows:repeat(4, 1fr);
    width: 100%;
    height: 100%;
    padding: 80px 0 0 0;
}
#aboutsection .main-grid img
{
    width: 100%;
    transition: .3s ease;
}
#aboutsection .main-grid div
{
    overflow: hidden;
    border-radius: 20px;
}
.grid-img-1
{
    grid-area: 1 / 1 / 3 / 3;
}
.grid-img-2
{
    grid-area: 1 / 3 / 3 / 5;

}
.grid-img-3
{
    grid-area: 3 / 1 / 5 / 5;

}
.grid-img-4
{
    grid-area: 1 / 5 / 5 / 9;

}
#aboutsection .main-grid img:hover
{
    transform: scale(1.1);
}











/* WHAT WE DO */
#whatwedo-section
{
    padding:4% 0;
    margin: 5% 0;
    width: 100%;
    background: #F6F6F6;
}
#whatwedo-section .left
{
    position: relative;
}
#whatwedo-section .left .main-head
{
    margin-bottom: 120px !important;
}
#whatwedo-section .start-btn
{
    text-decoration: none;
    color: var(--main-color);
    padding:10px 30px;
    border: 1px solid var(--main-color);
    border-radius: 40px;
    font-size: 22px;
    font-weight: 600;
    position: absolute;
    left: 0;
    bottom:80px;
    transition: .3s ease;
}
#whatwedo-section .start-btn:hover
{
    background: var(--main-color);
    color: #fff;
}
#whatwedo-section .start-btn i
{
    margin-left: 10px;
    transform: rotate(-45deg);
}

#whatwedo-section .right .slide-item
{
    position: relative;
    border-radius: 20px;
    width: fit-content;
    overflow: hidden;
}
#whatwedo-section .right .slide-item .item-img
{
    width: 100%;
    height: 60vh;
    transition: .3s ease;
    object-fit: cover;
}
#whatwedo-section .right .slide-item .item-details
{
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding:0 30px 30px;
}
#whatwedo-section .slide-item .title p
{
    font-size: 18px;
    /* font-weight: 500; */
    padding: 10px 20px;
    border-radius: 10px;
    background: #fff;
}
#whatwedo-section .slide-item .item-btn img
{
    transition: .3s ease;
}
#whatwedo-section .slide-item .item-btn
{
    padding:12px 16px;
    border-radius: 30px;
    background: #fff;
}
#whatwedo-section .slide-item:hover .item-img
{
    transform: scale(1.1);
}
#whatwedo-section .slide-item .item-btn:hover img
{
    transform: rotate(45deg);
}
#whatwedo-section .right .mySwiper{
    padding-bottom: 40px;
}








@media (min-width: 1200px)
{
    #whatwedo-section .container
    {
        max-width: calc((100% - 1140px) / 2 + 1140px) !important;
    }
}

@media (min-width: 1400px)
{
    #whatwedo-section .container
    {
        margin-right: 0 !important;
        max-width: calc((100% - 1320px) / 2 + 1320px) !important;
    }
}












/* STEPFORWARD SECTION */
#stepfwd-section
{
    padding: 5% 0;
}
#stepfwd-section .left
{
    position: relative;
}
#stepfwd-section .left .img-div
{
    position: relative;
    overflow: hidden;
}
#stepfwd-section .left .img-div .rotate-plant
{
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: 50% 0%;
    animation: plant-rotate 5s ease-in-out infinite;
}
@keyframes plant-rotate
{
    0%,100%
    {
        transform: rotate(10deg);
    }
    50%
    {
        transform: rotate(-10deg);
    }
}

#stepfwd-section .circle-main
{
    position: absolute;
    right: -10%;
    bottom: 10%;
    z-index: 10;
}
/* #stepfwd-section .circle-main:hover .rotate-btn-arrow
{
    transform: translate(-50%, -50%) rotate(-90deg);

} */
#stepfwd-section .circle-main .rotate-btn-arrow
{
    transition: .3s ease;
}
#stepfwd-section .circle-rotate-div
{
    /* position: relative; */
    width: 180px;
    height: 180px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
#stepfwd-section .circle-rotate-div .rotateimg
{
    animation: anim 6s linear infinite;
}
#stepfwd-section .rotate-btn-arrow
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



#stepfwd-section .right
{
    padding-left: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
#stepfwd-section .right .img-div
{
    display: flex;
    justify-content: end;
    align-items: end;
    width: 100%;
    /* background: red; */
    position: relative;
}
#stepfwd-section .right .fwd-img-2
{
    width: 70%;
}
#stepfwd-section .right .img-div::after
{
    content: '';
    position: absolute;
    width: 80%;
    height: 65%;
    right: 8%;
    background: #00BCA6;
    z-index: -1;
}





















/* PROJECT SECTION */
#projectsection
{
    padding: 5% 0;
}
#projectsection .head-sec .right
{
    display: flex;
    justify-content: end;
    align-items: top;
}
#projectsection .start-btn
{
    text-decoration: none;
    color: var(--main-color);
    padding:10px 30px;
    border: 1px solid var(--main-color);
    border-radius: 40px;
    font-size: 22px;
    font-weight: 600;
    /* position: absolute;
    left: 0;
    bottom:80px; */
    transition: .3s ease;
    width: fit-content;
    height: fit-content;
}
#projectsection .start-btn:hover
{
    background: var(--main-color);
    color: #fff;
}
#projectsection .start-btn i
{
    margin-left: 10px;
    transform: rotate(-45deg);
}


#projectsection .project-main
{
    padding-top: 60px;
    columns: 2;
    display: flex;
    flex-flow: column wrap;
    gap: 40px;
    align-content: space-between;
    height: 275vh;
    /* grid-template-columns: 1fr 1fr; */
    
}
#projectsection .project-main .items
{
    width: 49%;
    /* height: fit-content; */
    margin-top:60px;
}
#projectsection .project-main .items:nth-child(2)
{
    margin-top:0 !important;
}
#projectsection .project-main .items:nth-child(odd)
{
    order: 1;
}
#projectsection .project-main .items:nth-child(even)
{
    order: 2;
}
#projectsection .project-main img
{
    width: 100%;
    /* border-radius: 20px; */
}

#projectsection .project-main .project-desc
{
    display: flex;
    align-items: center;
    gap:20px;
    padding: 20px;
}
#projectsection .project-main .project-desc span
{
    width: 200px;
    height: 3px;
    border-radius: 20px;
    background: #000;
}
#projectsection .project-main p
{
    font-size: 20px;
}
#projectsection .project-main .project-img-div img
{
    transition: .3s ease;
}
#projectsection .project-main .project-img-div
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    overflow: hidden;
}
#projectsection .project-main .project-img-div:hover img
{
    transform: scale(1.1);
}
#projectsection .project-main .view-div
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0 0 0 / 70%);
    opacity: 0;
    transition: .3s ease;
}
#projectsection .project-main .view-div p
{
    font-weight: 600;
    color: #fff;
}
#projectsection .project-main .project-img-div:hover .view-div
{
    opacity: 1;
}























/* FOOTER SECTION */
#footersection
{
    background: #18373C;
    padding: 3% 0;
}
#footersection .left
{
    display: flex;
    flex-direction: column;
    gap:40px;
}
#footersection .container-fluid
{
    padding: 0 5%;
}
#footersection .main-head
{
    color: #fff;
}
#footersection .form-div form
{
    display: flex;
    flex-direction: column;
    gap:60px;
}
#footersection .form-div form label
{
    font-size: 16px;
    color: #fff;
}
#footersection .form-div form input
{
    padding: 10px 14px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid #fff;
}
#footersection .form-div form input::placeholder
{
    color:#4F7175 ;
}
#footersection .form-div button
{
    border: 1px solid #fff;
    background: transparent;
    padding:10px 20px;
    border-radius: 40px;
    width: 100%;
    color: #fff;
    transition: .3s ease;
}
#footersection .form-div button:hover
{
    background: #fff;
    color: var(--main-color);
}



#footersection .right
{
    display: flex;
    align-items: center;
    padding-left: 120px;
}
#footersection .right .contact-details
{
    display: flex;
    flex-direction: column;
    color: #fff;
    gap:40px;
    font-size: 22px;
}
#footersection .right .contact-details .title
{
    width: 250px;
}
#footersection .right .contact-details .address
{
    width: 60%;
}











/*RESPONSIVE SECTION*/

@media screen and (max-width: 1536px)
{
    #header .right .webstore
    {
        padding: 8px 20px;
    }
    #whatwedo-section .slide-item .title p
    {
        font-size: 16px;
    }
    #projectsection .start-btn
    {
        font-size: 20px;
    }
    #whatwedo-section .start-btn
    {
        font-size: 20px;
    }
    #footersection .right .contact-details .title
    {
        width: 200px;
    }
    .navbar-brand img
    {
        width: 80px;
    }
    #banner-section
    {
        /* height: calc(var(--main-height) - var(--header-height) - 20vh); */
        align-items: center;
    }
    #banner-section .text-col h1
    {
        font-size: 50px;
    }
    #banner-section .text-col p
    {
        width: 90%;
    }
    #banner-section .main-img-div .rectangle-1,
    #banner-section .main-img-div .rectangle-2,
    #banner-section .main-img-div .rectangle-3
    {
        bottom:-12%;
        height: 60vh;
    }
    #banner-section .owl-carousel .owl-nav
    {
        bottom: 0;
        right: 41%;
    }
    #banner-section .circle-main {
        right: 3%;
        bottom: -20%;
        transform: scale(0.8);
        transform-origin: 50% 50%;
    }
    #banner-section .main-slider-colums .right .bottom
    {
        padding-top: 40px;
        width: 80%;
    }
    #banner-section .main-slider-colums .right .btm-nmbrs
    {
        padding-top: 40px;
    }
    #banner-section .main-slider-colums .left .pricing-main {
        left: -21px;
        bottom: -40px;
        width: 70%;
        transform: scale(.8);
    }
    #banner-section .text-col a
    {
        font-size: 18px;
    }
    #banner-section .social-icons .line
    {
        height: 20px;
    }
    #banner-section .img-div-2 .circle-div,
    #banner-section .img-div-3 .circle-div
    {
        width: 130px;
        height: 130px;
    }
    #projectsection .project-main
    {
        height: 365vh;
    }
    
    #main-banner .navbar-nav
    {
        gap:10px;
        padding-left: 20px;
    }
    #main-banner .navbar .nav-link
    {
        font-size: 16px;
    }
    #banner-section .main-slider-colums .right .bottom h3
    {
        font-size: 28px;
    }
}






@media screen and (max-width: 1366px)
{
    #banner-section .owl-carousel .owl-nav
    {
        bottom: -10%;
    }
    /* #banner-section .main-slider-colums .right .btm-nmbrs
    {
        padding-top: 20px;
    } */
    #banner-section .main-slider-colums .right .bottom
    {
        padding-top: 20px;
    }
}








@media screen and (max-width: 1280px)
{
    #main-banner .navbar-nav
    {
        padding-left: 0;
        gap:20px;
    }
    #main-banner .navbar .nav-link
    {
        padding: 0;
    }
    .navbar-brand img
    {
        width: 60px;
    }
    #header .right .webstore
    {
        padding: 5px 15px;
    }
    #main-banner #header .right
    {
        gap:15px;
    }
    #header .right .cart img,
    #header .right .sign-in img
    {
        width: 18px;
    }
    #banner-section .main-img-div .rectangle-1, #banner-section .main-img-div .rectangle-2, #banner-section .main-img-div .rectangle-3
    {
        height: 50vh;
    }
    #banner-section .owl-carousel .owl-nav {
        bottom: -10%;
        right: 40%;
    }
    #banner-section .main-slider-colums .right .btm-nmbrs
    {
        font-size: 18px;
    }
}




@media screen and (max-width: 1024px)
{
    #main-banner .navbar .nav-link
    {
        text-wrap: nowrap;
        font-size: 14px;
    }
    #header .right .webstore
    {
        text-wrap: nowrap;
        font-size: 14px;
    }
    #header .right .sign-in a
    {
        font-size: 14px;
        text-wrap: nowrap;
    }
    #main-banner .navbar-nav
    {
        gap: 15px;
    }
    #main-banner .container-fluid
    {
        padding: 0 2%;
    }
    #banner-section .main-img-div .rectangle-1, #banner-section .main-img-div .rectangle-2, #banner-section .main-img-div .rectangle-3
    {
        height: 50vh;
        bottom: -30%;
    }
    #banner-section .img-div-2 .circle-div, #banner-section .img-div-3 .circle-div
    {
        width: 100px;
        height: 100px;
    }
    #banner-section .social-icons
    {
        right: 0;
    }
    #banner-section .img-div-2, #banner-section .img-div-3
    {
        height: 130px;
    }
    #banner-section .text-col h1
    {
        font-size: 40px;
    }
    #banner-section .main-slider-colums .right .top
    {
        transform: translateX(-30px);
    }
    #banner-section .owl-carousel .owl-nav .owl-prev,
    #banner-section .owl-carousel .owl-nav .owl-next
    {
        width: 25px;
        height: 25px;
    }
    #banner-section .owl-carousel .owl-nav
    {
        right: 39%;
    }
    #banner-section .main-slider-colums .left .pricing-main {
        left: 0;
        width: 100%;
    }
    #banner-section .circle-main {
        bottom: -22%;
        transform: scale(0.6);
    }
    #banner-section .social-icons .follow-us,
    #banner-section .social-icons
    {
        font-size: 14px;
    }
    #banner-section .main-slider-colums .right .btm-nmbrs
    {
        font-size: 16px;
    }
}

















@media only screen and (max-width: 999px)
{
    #banner-section .main-slider-colums .right .bottom
    {
        width: 100%;
    }
    #banner-section .img-div-2, #banner-section .img-div-3
    {
        height: 170px;
    }
    #banner-section .owl-carousel .owl-nav {
        bottom: -10%;
        right: 40%;
    }
    #banner-section .social-icons .follow-us,
    #banner-section .social-icons
    {
        font-size: 16px;
    }
    #banner-section .main-slider-colums .right .btm-nmbrs
    {
        font-size: 18px;
    }
    
    #main-banner .container-fluid
    {
        padding: 0 4%;
    }
    #projectsection .start-btn
    {
        font-size: 18px;
    }
    #whatwedo-section .start-btn
    {
        font-size: 18px;
    }
    .navbar-brand img
    {
        width: 100px;
    }
    #header .right .cart span
    {
        padding: 2px 8px;
    }
    #banner-section .main-img-div .rectangle-1, #banner-section .main-img-div .rectangle-2, #banner-section .main-img-div .rectangle-3
    {
        height: 40vh;
        bottom: -40%;
        width: 90%;
    }
    #banner-section .container-fluid .main-row
    {
        gap:80px;
        transform: translateY(-40px);
    }
    #banner-section .main-slider-colums .left .pricing-main {
        left: 30px;
        bottom: -100px;
        width: 85%;
        transform: scale(1);
    }
    #banner-section .main-slider-colums .right .top
    {
        transform: translateX(-20px);
        gap:20px;
    }
    #banner-section .owl-carousel .owl-nav {
        bottom: -10%;
        right: 32%;
    }
    #banner-section .circle-main {
        right: 5%;
        bottom: -10%;
        transform: scale(1);
    }
    #banner-section
    {
        height: calc(100vh - var(--header-height));
    }
    #banner-section .text-col p
    {
        width: 70%;
    }
    #main-banner
    {
        height: 100vh;
    }
    #banner-section .img-div-2 .circle-div, #banner-section .img-div-3 .circle-div
    {
        width: 120px;
        height: 120px;
    }
    #banner-section .main-slider-colums .right .top img
    {
        width: 80% !important;
        transform: translateY(-30px);
    }
    #banner-section .main-slider-colums .right .bottom h3
    {
        font-size: 28px;
    }

    .main-head
    {
        font-size: 36px;
    }
    .top-head
    {
        font-size: 20px;
    }
    #aboutsection
    {
        margin-top: 10vh;
        padding: 10% 0;
    }
    #aboutsection .about-main .main-head
    {
        padding: 0;
    }
    
    #whatwedo-section
    {
        padding: 10% 0;
    }
    #whatwedo-section .right .slide-item .item-img
    {
        height: 50vh;
    }
    #whatwedo-section .start-btn
    {
        position: relative;
    }


    #stepfwd-section .left .img-div .main-img
    {
        width: 100%;
    }

    #stepfwd-section .circle-main {
        right: 5%;
        bottom: 5%;
    }
    #stepfwd-section .right
    {
        padding:60px 0;
    }
    #stepfwd-section .left
    {
        padding: 0;
    }
    #stepfwd-section .right .img-div
    {
        padding: 30px 0 0 0;
        justify-content: center;
    }
    #stepfwd-section .right .img-div::after
    {
        right: 10%;
    }

    #projectsection .head-sec .right
    {
        justify-content: start;
        padding:40px 10px 0;
    }
    #projectsection .project-main
    {
        height: 140vh;
        row-gap:0;
    }
    #projectsection .project-main .project-desc span
    {
        display: none;
    }
    #projectsection .project-main .project-desc
    {
        align-items: start;
    }


    #footersection
    {
        padding: 5% 0;
    }
    #footersection .right
    {
        padding:120px 10px 0 ;
    }

    #footersection .copyright
    {
        justify-content: center !important;
        padding-top: 60px;
        font-size: 18px;
    }

    #main-banner .navbar .nav-link
    {
        font-size: 22px !important;
        width: fit-content;
    }

    .offcanvas
    {
        width: 60%;
    }
    .btn-close:focus
    {
        box-shadow: none;
    }
    #main-banner .navbar .nav-link.active
    {
        color: var(--main-color);
    }
    #main-banner .navbar-nav
    {
        padding-left: 40px;
    }
    .offcanvas-header
    {
        padding: 20px 40px;
    }
    .webstore
    {
        color: var(--main-color) !important;
        font-weight: 600 !important;
    }

    .offcanvas-header .btn-close
    {
        background: url(../img/svg/offcanvas-close.svg);
        background-size: contain;
        width: 5px;
        height: 5px;
        opacity: 1;
        /* transform: translateX(-15px);    */
    }
    #banner-section .text-col h1
    {
        font-size: 50px;
    }
}











@media only screen and (max-width: 767px)
{
    /* #banner-section
    {
        height: calc(var(--main-height) - var(--header-height) - 25vh);
    }
    #banner-section .container-fluid .main-row
    {
        gap:0;
    } */
    #projectsection .start-btn
    {
        font-size: 16px;
    }
    #aboutsection .about-main .main-para,
    #aboutsection .about-main .main-head, #aboutsection .about-main .top-head
    {
        text-align: left;
    }
    .main-head
    {
        font-size: 26px;
    }
    .top-head
    {
        font-size: 16px;
    }
    .main-para
    {
        margin-top: 10px !important;
    }
    #whatwedo-section .start-btn
    {
        font-size: 16px;
    }
    #whatwedo-section .left .main-head
    {
        width: 92%;
    }
    #stepfwd-section .circle-rotate-div
    {
        width: 160px;
        height: 160px;
    }

    #banner-section .social-icons
    {
        display: none;
    }

    .navbar-brand img
    {
        width: 75px;
    }
    #stepfwd-section
    {
        padding:10% 10px 0;
    }


    #projectsection
    {
        padding: 10% 0 10% 0;
    }
    #projectsection .project-main
    {
        height: 100%;
        flex-flow: wrap;
        gap:10px;
    }
    #projectsection .project-main .items
    {
        width: 100%;
        margin-top:0;
    }
    #stepfwd-section .circle-main {
        right: 0%;
        bottom: 0%;
        transform: scale(0.7);
    }
    #stepfwd-section .left .img-div .rotate-plant
    {
        width: 50%;
    }

    #aboutsection .main-grid
    {
        display: flex;
        flex-direction: column;
    }

    #whatwedo-section .right .slide-item .item-img
    {
        height: 55vh;
    }



    #banner-section .main-slider-colums .right .top
    {
        display: none;
    }
    #banner-section .text-col h1
    {
        font-size: 28px;
    }
    #banner-section .text-col h1 img
    {
        width: 35px;
    }
    #banner-section .text-col
    {
        gap:10px;
    }
    #banner-section .container-fluid .main-row
    {
        gap:0;
        transform: translate(0);
        flex-direction: column-reverse;
    }
    #header .right .sign-in a
    {
        display: none;
    }
    #banner-section .circle-main {
        right: -10%;
        bottom: -15%;
        transform: scale(.5);
    }
    #banner-section .owl-carousel .owl-nav {
        /* bottom: -60%; */
        right: 40%;
        /* left: 0; */
    }

    #banner-section .main-img-div .rectangle-1, #banner-section .main-img-div .rectangle-2, #banner-section .main-img-div .rectangle-3 {
        height: 40vh;
        bottom: -40%;
        width: 80%;
    }
    .main-colums
    {
        margin-top:60px;
    }
    #banner-section .main-img-div img
    {
        width: 80% !important;
    }
    #banner-section .main-slider-colums
    {
        height: 40vh;
    }
    #banner-section .text-col a
    {
        font-size: 16px;
    }
    #banner-section .text-col a img
    {
        width: 14px;
    }
    #banner-section .text-col p
    {
        width: 100%;
    }
    #main-banner #header .right
    {
        gap:20px;
    }

    #banner-section .main-slider-colums .left .pricing-main
    {
        transform: scale(.7);
    }
    #footersection .right .contact-details .title
    {
        width: 130px;
    }
    #footersection .right .contact-details
    {
        font-size: 18px;
    }

    #footersection .copyright
    {
        font-size: 16px;
    }
    #footersection
    {
        padding: 10% 0;
    }

    .offcanvas
    {
        width: 10%;
    }

    #main-banner .navbar .nav-link
    {
        font-size: 20px !important;
    }

    


}


@media only screen and (max-width: 380px)
{
    .main-colums
    {
        margin-top:40px;
    }
    #whatwedo-section .right .slide-item .item-details
    {
        padding: 0 15px 15px;
    }
    #banner-section .text-col h1
    {
        font-size: 24px;
    }
    #banner-section .text-col h1 img
    {
        width: 30px;
    }
}

