@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    /* border:1px solid #000; */
}

p,h1,h2,h3,h4,h5,h6
{
    margin:0 !important;
}

:root
{
    --main-color:#006F62;
}


#main-banner
{
    width: 100%;
    height: 85vh;
    background: #67A58040;
}
#main-banner #header .right
{
    display: flex;
    gap:30px;
    align-items: center;
}
#main-banner .navbar-nav
{
    gap:14px;
    padding-left: 40px;
}
#main-banner .navbar .nav-link
{
    font-size: 18px;
    font-weight: 400;
    color: #000;
}
#main-banner .navbar .nav-link.active
{
    font-weight: 600;
}
#main-banner .container-fluid
{
    padding: 0 4%;
}
#main-banner .language li
{
    list-style-type: none;
}

#header .right .webstore
{
    padding:10px 20px;
    border: 1px var(--main-color) solid;
    border-radius: 50px;
    text-decoration: none;
    color: var(--main-color);
    display: flex;
    align-items: center;
    gap:10px;
}
#header .right .webstore:hover
{
    background: var(--main-color);
    color: #fff;
}
#header .right .webstore:hover svg path
{
    fill: #fff;
}
/* #header .right .webstore a
{
    
    
} */
#header .right .cart
{
    position: relative;
}
#header .right .cart span
{
    /* width: 10px; */
    /* height: 10px; */
    border-radius: 20px;
    background: var(--main-color);
    padding:4px 10px;
    font-weight: 600;
    color: #fff;
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 12px;
    transform: scale(.8);
}
#header .right .sign-in
{
    display: flex;
    gap:10px;
}
#header .right .sign-in a
{
    text-decoration: none;
    color:#000;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: -1px;
}



#banner-section
{
    height: calc(var(--main-height) - var(--header-height));
    display: flex;
    align-items:end ;
    position: relative;
    /* background: #67A58040; */
}
#banner-section .text-col h1
{
    /* display: flex; */
    font-size: 75px;
    font-weight: 700;
}
#banner-section .text-col h1 span
{
    color: var(--main-color);
}
#banner-section .text-col {
    display: flex;
    justify-content: start;
    flex-direction: column;
}
#banner-section .text-col a
{
    text-decoration: none;
    padding: 10px 30px;
    background: var(--main-color);
    width: fit-content; 
    color: #fff;
    display: flex;
    align-items: center;
    gap:10px;
    font-weight: 500;
    font-size: 20px;
}
#banner-section .text-col a img
{
    transition: .2s ease;
}
#banner-section .text-col a:hover img
{
    transform: rotate(45deg);
}



#banner-section .main-img-div
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#banner-section .main-img-div img
{
    transform: scale(1);
    margin-bottom: -80px;
    animation: scale 3s ease-in-out infinite;
    width: 100% !important;
}

@keyframes scale
{
    0%,100%
    {
        transform:scale(1);
    }
    50%
    {
        transform:scale(1.1);
    }
}

#banner-section .main-img-div .rectangle-1
{
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 80%;
    border-radius: 300px 300px 0 0;
    background: linear-gradient(to bottom, #006F62, #006F6200);
    z-index: -1;
}
#banner-section .main-img-div .rectangle-2
{
    background: linear-gradient(to bottom, #FF9900, #FF990000);
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 80%;
    border-radius: 300px 300px 0 0;
    z-index: -1;
}
.main-colums
{
    height: var(--banner-height);
}

#banner-section .img-div-2,
#banner-section .img-div-3
{
    position: relative;
    height: 200px;
    /* background: orange; */
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    object-fit: contain;
}
#banner-section .main-slider-colums .right .top
{
    display: flex;
    /* gap:60px; */
}
#banner-section .main-slider-colums .right .top img
{
    transition: .3s ease;
    width: 50% !important;
}
#banner-section .right .top .img-div-2:hover img, #banner-section .right .top .img-div-3:hover img
{
    transform: scale(1.1);
}
#banner-section .img-div-2 .circle
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #FF9900;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    z-index: -1;
}
#banner-section .img-div-3 .circle
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #00BCA6;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    z-index: -1;
}

#banner-section .main-slider-colums .right .bottom
{
    padding-top: 80px;
}
#banner-section .main-slider-colums .right .bottom h3
{
    font-size: 36px;
    color: var(--main-color);
    font-weight: 700;
}



.circle-main
{
    position: absolute;
    right: 5%;
    bottom: -15%;
}
.circle-rotate-div
{
    /* position: relative; */
    width: 200px;
    height: 200px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.circle-rotate-div .rotateimg
{
    animation: anim 10s linear infinite;
}
@keyframes anim
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.rotate-btn-arrow
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* .circle-rotate-div .text
{
    width: 100%;
    height: 100%;
    position: absolute;
    animation: anim 10s linear infinite;
}
@keyframes anim
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}
.circle-rotate-div .text span
{
    position: absolute;
    left: 50%;
    font-size: 1.2em;
    transform-origin:0 100px;
    color: #fff;
} */

.owl-carousel .owl-stage-outer
{
    overflow-x: clip !important;
    overflow: unset;
}
.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled
{
    display: block;
}
.owl-nav span
{
    font-size: 30px;
}